@import 'base/variables';
@import 'base/buttons';


html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: 'Quicksand', sans-serif;
  font-size: $font-lg;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $color-white;

  &:visited {
      color: $color-white;
  }
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 60px;
}

.page-title {
  background-color: $color-dark;
  font-size: $font-sm;
  padding: 18px 0;
  transition: ease all .5s;
  width: 100%;

  h2{
    margin: 0;
  }
}
