<div class="m-card-track animate__animated animate__fadeIn">
  <div class="m-card-track__body">
    <a routerLink="/track">
      <figure class="m-card-track__body-image">
        <img [src]="track.image" [alt]="track.album" />
      </figure>
      <div class="m-card-track__body-detail">
        <p>{{ track.name | truncateString: 15 }}</p>
        <p>{{ track.artists }}</p>
      </div>
    </a>
  </div>

  <div class="m-card-track__footer">
    <span>{{ track.duration | formatDuration }}</span>
    <!-- <app-favorite-button></app-favorite-button> -->
    <button (click)="setFavorite()">💚</button>
  </div>
</div>
